
name: Deploy to production

on:
  push:
    branches: [ main ]

jobs:

  deploy:
    name: Build image
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Install kubectl
      uses: azure/setup-kubectl@v2.0
      with:
        version: 'v1.21.3'
      id: install

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    # - name: Log into Docker registry
    #   run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
    
    # - name: Create and push Docker images
    #   run: |
    #     chmod +x ./docker-build.sh
    #     ./docker-build.sh ${{ secrets.DOCKER_USERNAME }} ${{ github.sha }}
    #   shell: bash

    - name: Update kube config
      run: aws eks update-kubeconfig --name ctse-deployment-cluster --region ap-south-1 

    - name: Deploy image to Amazon EKS
      run: |
        kubectl apply -f eks/deployment.yaml
        kubectl apply -f eks/service.yaml
